<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::content})}">

<body>
  <div th:fragment="content">
    <div class="feature">
      <h3>Welcome to Itai Java playground (home.html)</h3>
      <p>Current time: <span th:text="${currentTime}"></span></p>
      <p>Page title: <span th:text="${pageTitle}"></span></p>

      <div class="feature">
        <h3>Getting Started</h3>
        <p>This Spring Boot application is running successfully!</p>
        <a href="/users" class="btn btn-primary">
          <i class="fas fa-users"></i>
          Manage Users
        </a>
        <a href="/test" class="btn btn-success">
          <i class="fas fa-flask"></i>
          Run Tests
        </a>
      </div>
    </div>
  </div>
</body>

</html>